@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@500&family=Sacramento&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #AFD3E2;
    color: DarkBlue;
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu__link{
    font-family: 'Dancing Script', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var;
    text-decoration: none;
    padding: 0% 0% 0% 3%;
}

.apresentacao{
    margin: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo-destaque{
    font-size: 36px;
    font-family: 'Lobster', sans-serif;
    color: #002B5B;
}

.corpo-do-site{
    margin: 7%;
    display: flex;
    column-gap: 20px;
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    color: #1A5F7A;
}

.imagens_gilmar{
    justify-content:space-between;
    margin: 7%;
    display: flex;
    column-gap: 20px;
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    color: #1A5F7A;
}
.instagram{
    margin: 5% 0;
    display: flex;
    width: 150px;
    column-gap: 20px;
    text-align: center;
    border-radius: 16px;
    font-size: 36px;
    text-decoration: none;
    color: #159895;
    font-family: 'Sacramento', sans-serif;
}

img {
    width: 20%
}